h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
}
h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
}
h3 {
    font-family:Verdana, Tahoma, sans-serif;
    font-style:normal;
}
h4 {
    font-family:Verdana, Tahoma, sans-serif;
    font-style: italic;
    font-weight:200;
}
p {  
    font-family:Verdana, Tahoma, sans-serif;
}
.navigation {
    background-color:#383837;
    width:100%;
    position: sticky;
    top:10px;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
    padding:3px 10px 0px 10px;
}
.logo {
    width: 10%;
    padding: 1%;
    text-align: center;
}
nav {
    width: 85%;
    padding: 1%;
    text-align:right;
}
ul {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    vertical-align: top;
    color:white;
    font-family:Verdana, Tahoma, sans-serif;
}
.heroimg {
    padding: 25px;
}
.content {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
footer {
    background-color: #383837;
    width: 100%;
    position: bottom;
}
li {
    padding: center;
}
.topmenu {
    float:right;
}
html, body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}
.flexcontainer {
    display:flex;
    justify-content:center;
    width:80%;
    margin:auto;
}
div {
    width:33%;
    padding:10px;
    margin:10px;
}
.mywork {
    height:1700px;
    width:100%;
}
.sectionheader {
    color:white;
    background-color:black;
    width:100%;
    height:150px;
    padding:25px;
}
.workgrid {
    width:80%;
    height:1200px;
    display:grid;
    grid-template-rows:50% 50%;
    grid-template-columns:40% 60%;
    grid-template-areas:
    "hhimage hhtext"
    "edimage edtext"
    ;
    justify-content:start;
    align-items:center;
    margin:auto;
    grid-gap:0px 45px;
}
.hhimage {
    grid-area: hhimage;
    width:100%;
    object-fit:cover;
    object-position:center;
}
.hhtext {
    grid-area:hhtext;
    width:100%;
}
.edimage {
    grid-area: edimage;
    width:100%;
    object-fit:cover;
    object-position:center;
}
.edtext {
    grid-area:edtext;
    width:100%;
}
button {
    color:black;
    background-color:white;
    text-align:center;
    border: 1px solid black;
    height:50px;
    width:150px;
    margin-top:20px;
}
.viewmore {
    margin:auto;
    display:block;
    width:300px;
    margin-top:50px;
    color:white;
    background-color:black;
}
